body{
    background-color: cadetblue;
}
.pure-form{
    float: left;
    background-color: rgb(165, 82, 49);
    padding: 2%;

}
.searchbar{
    position: fixed;
    top: 5%;
    right: 5%;
    
}
.flightList{
    position: fixed;
    top: 10%;
    right: 5%;
    
    
}